:root {
  --cor-c0: #FFF;
  --cor-c1: #F7F7F7;
  --cor-c2: #EDEDED;
  --cor-c3: #DEDEDE;
  --cor-c4: #CCC;
  --cor-c5: #B2B2B2;
  --cor-c6: #9C9C9C;
  --cor-c7: #717171;
  --cor-c8: #595959;
  --cor-c9: #404040;
  --cor-c10: #2E2E2E;
  --cor-c11: #111;
  --cor-c12: #000;
  --cor-p1: #FFBB00;
  --cor-p2: #E4A30B;
  --cor-p3: #A66F00;
  --cor-p4: #664400;
  --cor-p5: #332200;
}

